/* Gregory Ecklund */
/* February 2023 */

/* Background Color */
body {
    background-color: mediumturquoise;
}
a {
    text-decoration: none;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 32px;
    text-align: center;
    padding: 2px 3px;
    background-color: azure;
    color: purple;
}